@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --color-main-black: #3E3E3E;
    --color-main-orange: #FE9519;
    --color-main-white: #FFFFFF;
 }
.footerbar{
    display: flex;
    background-color: var(--color-main-black);
}
.footer_txt_div{
    display : flex;
    flex-direction : column;
    justify-content: center;
    height: 160px;
    width: 1440px;

}
.footer_title{
    color: #FFFFFF;
    font-family: "GmarketSans";
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer_menus {
    display : flex;
    justify-content: space-between;


}
.managers{
    color: #FFFFFF;
    font-family: "Noto Sans KR";
    font-size: 12px;
    text-decoration: none;
    margin-left: auto;
}
.KAU_LikeLion{
    color: #FFFFFF;
    font-family: "Noto Sans KR";
    font-size: 12px;
    text-decoration: none;
    margin: auto ;
}
.LikeLion_Univ{
    color: #FFFFFF;
    font-family: "Noto Sans KR";
    font-size: 12px;
    text-decoration: none;
    margin-right: auto;
}